@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

*{
    padding: 0;
    margin: 0;
    background-color:rgb(11, 179, 53);
    box-sizing: border-box;
    
}


.productosTitulo{
    font-size: 3rem;
    text-align: center;
    color: rgb(0, 158, 47);
    font-family: 'Kdam Thmor Pro', sans-serif;
}
.formTitulo{
    color: green;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3rem;
}
.form label{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
}
.contacto{
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2rem;
}
.primerBorde{
    text-align: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
}
.footer{
    text-align: center;
    




}    

.iconoFooter{
    width: 10%;
    background-color: black;
}
#productos{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 
        "productosTitulo productosTitulo productosTitulo"
        "carpa           ferti           luz"
        "footer          footer          footer";
       

}
#carpa{
    display: grid;
    grid-area: carpa;
}
#ferti{
    display: grid;
    grid-area: ferti;
}
#luz{
    display: grid;
    grid-area: luz;

}
#productosTitulo{
    grid-area: productosTitulo;
}
#form{
    grid-area: form;
}
#primerBorde{
    grid-area: primerBorde;
}
#footer{
    grid-area: footer;
}
.navPreguntas{
    color: black;
    font-size: 1rem;
    justify-content: center;
}
.preguntasPreg{
    text-align: center;
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    justify-content: center;
}
.productosdisponibles{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
}
.contactenos{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: brown;







