<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>envios</title>
    <link rel="stylesheet" href="/css/style.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="../index.html">>Grow420</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="views/productos.html">Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="views/envios.html">Envios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="views/preguntas.html" role="button">Preguntas</a>
                  
                    
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="views/contactos.html">Contacto</a>
                </li>
                </ul>
                <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Buscar</button>
                </form>
            </div>
        </nav>
		<div id="et-main-area">
	
			<div id="main-content">
							<article id="post-1831" class="post-1831 page type-page status-publish hentry">
			
							
								<div class="entry-content">
								<div class="et-l et-l--post">
						<div class="et_builder_inner_content et_pb_gutters3"><div class="et_pb_section et_pb_section_0 et_section_regular">
							
							
							
							
								<div class="et_pb_row et_pb_row_0 et_pb_row_4col">
							<div class="et_pb_column et_pb_column_1_4 et_pb_column_0  et_pb_css_mix_blend_mode_passthrough">
							
							
							<div class="et_pb_module et_pb_blurb et_pb_blurb_0  et_pb_text_align_center  et_pb_blurb_position_top et_pb_bg_layout_light">
							
							
							<div class="et_pb_blurb_content">
								<img src="../img/envios.png" alt="">
									<h3 class="et_pb_module_header"><span>Enviós a todo el País (Coordinar con nosotros)</span></h4>
							</div>
						</div>
						</div><div class="et_pb_column et_pb_column_1_4 et_pb_column_1  et_pb_css_mix_blend_mode_passthrough">
							
							
							<div class="et_pb_module et_pb_blurb et_pb_blurb_1  et_pb_text_align_center  et_pb_blurb_position_top et_pb_bg_layout_light">
							
							
							<div class="et_pb_blurb_content">
								<img src="../img/contra-rembolso.png" alt="">
									<h3 class="et_pb_module_header"><span>Pago contra entrega CABA y GBA</span></h4>
							</div>
						</div>
						</div><div class="et_pb_column et_pb_column_1_4 et_pb_column_2  et_pb_css_mix_blend_mode_passthrough">
							
							
							<div class="et_pb_module et_pb_blurb et_pb_blurb_2  et_pb_text_align_center  et_pb_blurb_position_top et_pb_bg_layout_light">
							
							
							<div class="et_pb_blurb_content">
								<img src="../img/discreto.png" alt="">
									<h3 class="et_pb_module_header"><span>Envío seguro y muy discreto</span></h4>
							</div>
						</div><div class="et_pb_column et_pb_column_1_4 et_pb_column_3  et_pb_css_mix_blend_mode_passthrough et-last-child">
							
							
							<div class="et_pb_module et_pb_blurb et_pb_blurb_3  et_pb_text_align_center  et_pb_blurb_position_top et_pb_bg_layout_light">
							
							
							<div class="et_pb_blurb_content">
								<img src="../img/MP.png" alt="">
									<h3 class="et_pb_module_header"><span>Pago Seguro a través de Mercado Pago (No es necesario tener cuenta)</span></h4>
							</div>
						</div>
						
<footer id="footer">
    <div class="footer">
        <img class="iconoFooter" src="../img/logo.jpg" alt="icono">
        <h2 class="telefonoFooter">Telefono</h2>
        <p>423902</p>
        <h2 class="direccionFooter">Direccion</h2>
        <p>Piedrabuena 1423</p>
    </div>
</footer>  

	
	</body>
</html>
