<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preguntas</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>envios</title>
    <link rel="stylesheet" href="/css/style.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="../index.html">>Grow420</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="views/productos.html">Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="views/envios.html">Envios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="views/preguntas.html" role="button">Preguntas</a>
                  
                    
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="views/contactos.html">Contacto</a>
                </li>
                </ul>
                <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Buscar</button>
                </form>
            </div>
        </nav>
    <nav class="navPreguntas">
        <h1 class="preguntasPreg" ><b>PREGUNTAS SOBRE NOSOTROS</b></h1>
        <h2 class="quienesSomos">Quienes somos</h2>
        <p class="pPreg">En este grow nos dedicamos desde hace más de 15 años a la venta de insumos para cultivos.

            Contamos con la más amplia variedad de productos, todos de la mejor calidad y al precio más conveniente.
            
            Nos destacamos además por ofrecerte un asesoramiento profesional, para que te lleves exactamente lo que estás buscando, ya que tu satisfacción es nuestro principal objetivo.
            
            ¡Acercate a nuestro local y hacé crecer tus cultivos!</p>
        <br>
        <h1>Donde podes encontrarnos</h1>
        <P>Nosotros estamos ubicados en plena nueva cordoba

            En la calle Piedrabuena numero 1423</P> 
        
    </nav> 
    <section>
        <div class="container w-50 m-auto text-center" id="equipo">
            <h1 class="mb-5 fs-2">Equipo pequeño con resultados Grandes.</h1>
            <p class="fs-4 ">Buscamos ser lo mejor para vos</p>
        </div>
        
    
    </section>
    <footer id="footer">
        <div class="footer">
            <img class="iconoFooter" src="../img/logo.jpg" alt="icono">
            <h2 class="telefonoFooter">Telefono</h2>
            <p>423902</p>
            <h2 class="direccionFooter">Direccion</h2>
            <p>Piedrabuena 1423</p>
        </div>
    </footer>  
     


    
</body>
</html>