<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preguntas</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <a href="../index.html">volver</a>
    <nav class="navPreguntas">
        <h1 class="preguntasPreg" ><b>PREGUNTAS SOBRE NOSOTROS</b></h1>
        <h2 class="quienesSomos">Quienes somos</h2>
        <p class="pPreg">En este grow nos dedicamos desde hace más de 15 años a la venta de insumos para cultivos.

            Contamos con la más amplia variedad de productos, todos de la mejor calidad y al precio más conveniente.
            
            Nos destacamos además por ofrecerte un asesoramiento profesional, para que te lleves exactamente lo que estás buscando, ya que tu satisfacción es nuestro principal objetivo.
            
            ¡Acercate a nuestro local y hacé crecer tus cultivos!</p>
        <br>
        <h1>Donde podes encontrarnos</h1>
        <P>Nosotros estamos ubicados en plena nueva cordoba

            En la calle Piedrabuena numero 1423</P> 
        
    </nav>  


    
</body>
</html>